doctype html
html lang="en"
  head
    title== @title || "Student Management System"
    meta charset="utf-8"
    link rel="stylesheet" href="/styles.css"
  body
    header
      h1 School Management System
      h4 powered by Sinatra
      - if session[:admin]
		h2 You have logged in!
	  - else
		h2 System have been logged out!
      == slim :nav
    section
      == yield
    