form action="/login" method="POST"
  label for="username" Username:
  input#username type="text" name="username"  
  label for="password" Password:
  input#password type="password" name="password"  
  input type="submit" value="Log In"

- if params[:username] != nil && params[:password] != nil
  - if params[:username] != settings.username || params[:password] != settings.password
    h3 The username you entered is not existed!
    h3 or the password you entered is incorrect
    h3 Please try again.