nav
  ul
    li <a href="/" title="Home">Home</a>
    li <a href="/about" title="About">About</a>
    li <a href="/contact" title="Contact">Contact</a>
    li <a href="/students" title="Students">Students</a>
    - if session[:admin] == true
      li <a href="/logout" title="Logout">Logout</a>
    - else
      li <a href="/login" title="Login">Login</a>