p 
p
p

<table border="4">
  <tr>
  	<th>Student ID</th>
    <th>Name</th>
   	<th>Age</th>
    <th>Gender</th>
    <th>Enrolled Data</th>
    <th>Major</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>#{@student.Student_id}</td>
    <td>#{@student.Name}</td>
    <td>#{@student.Age}</td>
    <td>#{@student.Gender}</td>
    <td>#{@student.Enrolled_Data}</td>
    <td>#{@student.Major}</td>
    <td>#{@student.Comments}</td>
  </tr>
</table>
	
<table>
	<tr>
		<th>
			<a href="/students">Back to index</a>	
		</th>
		
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		
		<th>
			<a href="/students/#{@student.id}/edit">Edit this student</a>
		</th>
		
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		
		<th>
			form action="/students/#{@student.id}" method="POST"
  				input type="hidden" name="_method" value="DELETE"
  				input type="submit" value="delete this student"
		</th>
    </tr>
</table>