<table border="4">
  <tr>
  	<th>Student ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Enrolled Data (mm/dd/yyyy)</th>
    <th>Major</th>
    <th>Comments</th>
  </tr>
  <tr>
    <td>
    	input#Student_id type="Student_id" size="8" name="student[Student_id]" value="#{@student.Student_id}"
    </td>
    
    <td>
    	input#Name type="Name" name="student[Name]" value="#{@student.Name}"
    </td>
    
    <td>
    	input#Age type="text" size="3" name="student[Age]" value="#{@student.Age}"
    </td>
    
    <td>
    	input#Gender type="text" size="7" name="student[Gender]" value="#{@student.Gender}"
    </td>
    
    <td>
    	input#Enrolled_Data type="text" size="11" name="student[Enrolled_Data]" value="#{@student.Enrolled_Data.strftime("%m/%d/%Y") if @student.Enrolled_Data}"
    </td>
    
    <td>
    	input#Major name="student[Major]" size="15" value="#{@student.Major}"
    </td>
    
    <td>
    	input#Comments type="text" size="20" name="student[Comments]" value="#{@student.Comments}"
    </td> 
  </tr>
</table>



p
p
p
p

<table>
	<tr>
		<th>
			form action="/students/#{@student.id}" method="POST"
				input type="submit" value="Save Student"	
		</th>
    	<th>
    		form action="/students/#{@student.id}" method="POST"
  				input type="hidden" name="_method" value="DELETE"
  				input type="submit" value="Delete this student"  	
    	</th>
    </tr>
</table>




