- if @students.any? == true && session[:admin] == true
  h2 Students:
  ul#students
    	<table border="4">
  			<tr>
  				<th>Student ID</th>
    			<th>Name</th>
   				<th>Age</th>
    			<th>Gender</th>
    			<th>Enrolled Data</th>
    			<th>Major</th>
    			<th>Comments</th>
    			<th>Modify</th>
  			</tr>
  	    -@students.each do |student|
  			<tr>
    			<td>#{student.Student_id}</td>
    			<td>#{student.Name}</td>
    			<td>#{student.Age}</td>
    			<td>#{student.Gender}</td>
    			<td>#{student.Enrolled_Data}</td>
    			<td>#{student.Major}</td>
    			<td>#{student.Comments}</td>
    			<td>
    				<a href="/students/#{student.id}/edit">Edit</a>
    			</td>
  			</tr>
		</table>
  <table>
	<tr>
		<th>
			a href="/students/new" Create a new student	
		</th>
    </tr>
  </table>
  h2 <a href="/logout" title="Logout">Logout</a>
  
- elsif @students.any? == false && session[:admin] == true
  h2 Students:
  p No students have been created yet!
  <table>
	<tr>
		<th>
			a href="/students/new" Create a new student	
		</th>
    </tr>
  </table>
  h2 <a href="/logout" title="Logout">Logout</a>
  
- else
  h3 You are not Authorized to access system
  h3 Please login into the database by using your username and password
  h2 <a href="/login" title="Login">Login</a>



